body {
  background-color: black;
}

.one {
  color: white;
  font-size: 40px;
  position: absolute;
  left: 12%;
top: 0%; 
  font-style: italic;
}

.img1 {
  padding-right: 250px;
  width: 20%;
  position: absolute;
  right: 0%;
  top: 10%;
}

.three {
  color: white;
  font-style: italic;
  font-size: 50px;
  padding-left: 700px;
  padding-top: 100px;
}


.img2 {
  position: absolute;
 top: 90px;
 left: 200px;
  width: 16%;
}

.four {
  color: white;
  font-size: 40px;
  text-align: right;
  font-style: italic;
  position: absolute;
  right: 13%;
  top: 0%;
  left: 3%;
}

h1 {
  color: white;
  font-size: 25px;
  text-align: left;
  padding-left: 90px;
  padding-top: 70px;
}

ul.a {
  color: white;
  font-size: 20px;
  padding-left: 40px;
}

h2 {
  color: white;
  font-size: 25px;
  padding-left: 430px;
  position: absolute;
  top: 37%;
}

ul.b {
  color: white;
  font-size: 20px;
  padding-left: 410px;
margin-right: 20px;
  position: absolute;
  top: 43%;
}

h3 {
  color: white;
  text-align: left;
  position: absolute;
  top: 36%;
  font-size: 25px;
  padding-left: 1000px;
}

ul.c {
  color: white;
  text-align: left;
  position: absolute;
  top: 43%;
  font-size: 20px;
  padding-left: 1000px;
}

h4 {
  color: white;
  font-size: 25px;
  text-align: center;
  padding-left: 1300px;
  position: absolute;
  top: 35%;
}

ul.d {
  color: white;
  text-align: left;
  position: absolute;
  top: 40%;
  font-size: 20px;
  padding-left: 1300px;
  padding-right: 10px;
	margin-right: 20px;
}

.img3 {
  width: 16%;
  padding-top: 200px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.img4 {
  width: 16%;
  padding-top: 200px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.img5 {
  width: 16%;
  padding-top: 200px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.img6 {
  width: 14%;
  padding-top: 200px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.five {
  color: white;
  font-size: 30px;
  padding-left: 700px;
}

.img7 {
  width: 25%;
  padding-left: 560px;
  padding-top: 200px;
	padding-bottom: 100px;
}

.six {
  color: white;
  font-size: 30px;
  font-style: italic;
  position: absolute;
  top: 1530px;
  padding-left: 100px;
}

.seven {
  color: white;
  font-size: 30px;
  font-style: italic;
  position: absolute;
  top: 1530px;
  padding-left: 1130px;
}

.img8 {
width: 30%;
padding-left: 550px;
padding-top: 100px;
padding-bottom: 300px;
}

.eight {
	color: white;
	font-style: italic;
	font-size: 25px;
	text-align: center;
	position: absolute;
	padding-left: 40px;
	top: 230%;
}

.nine {
	color: white;
	font-style: italic;
	font-size: 25px;
	text-align: right;
	position: absolute;
	padding-left: 1130px;
	top: 230%;
}

.img9 {
	width: 25%;
	padding-right: 600px;
	padding-left: 200px;
	padding-bottom: 200px;
}

.ten {
	color: white;
	text-align: center;
	font-size: 40px;
	font-style: italic;
	position: absolute;
	top: 300%;
	padding-left: 800px;
	padding-bottom: 90px;
}

a {
  color: white;
  font-size: 50px;
  padding-left: 700px;
  padding-top: 90px;
padding-bottom: 100px;
}

a:link {
  color: white;
  text-decoration: none;
}


a:visited {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}


a:active {
  color: blue;
}